.paginationItemStyle .page-link {
	color: black;
}
.paginationItemStyle.page-item.active button {
	background-color: black;
	border-color: black;
}
.paginationLinkStyle:hover {
	background-color: black;
	color: white;
}
